  <ion-view view-title="P R E S E R V">
    
    <ion-content>
      <!-- The content of the page -->

		<div class="item item-image padding">
		    <img src="https://ha-design.s3.amazonaws.com/global/icons/haus/icon-circle-tools-blue.png" style ="width:50%">
		 </div>

      <div class="list list-inset">
		  <label class="item item-input">

		    <input type="text" placeholder="Usuário">

		  </label>
		  <label class="item item-input">

		    <input type="text" placeholder="Senha">

		  </label>
		</div>
    
    </ion-content>
  
  </ion-view>

