<style type="text/css">
	.toggle input + .track{background-color: #ef473a};

  	.li	{font-size: 20px}
  	
	
</style>

<ion-view view-title="Cadastro">
    
    <ion-content>
	    
	    <div class="list" ng-form name="cdstr">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Nome</span>
		    <input type="text" placeholder="Nome" ng-model="cadastro.nome" required >
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Sobrenome</span>
		    <input type="text" placeholder="Sobrenome" ng-model="cadastro.sobrenome" required>
		  </label>

	  	<ion-toggle ng-class="{'icon ion-man': homem, 'icon ion-woman': !homem}" ng-click="homem=!homem" ng-model="cadastro.sexo"></ion-toggle>

	  	<label class="item item-input item-stacked-label">
			<span class="input-label">Nascimento</span>
			<input type="date" placeholder="nascimento" ng-model="cadastro.nascimento" required>
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">e-mail</span>
			<input type="email" placeholder="email" ng-model="cadastro.email" required>
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">Senha</span>
			<input type="password" placeholder="senha" ng-model="cadastro.senha" required>
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">Confirme a senha</span>
			<input type="password" placeholder="Confirme a senha" ng-model="cadastro.confirmeSenha" required>
		</label>

		<button class="button button-block button-positive" ng-click="cadastroOk()">
		  OK
		</button>
		<!--ng-disabled="cdstr.$invalid"-->

		<!--{{x=cdstr.$valid}}-->
    </ion-content>

  </ion-view>
